<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <remove segment="bin" />
                </hiddenSegments>
            </requestFiltering>
        </security>
        <staticContent>
            <mimeMap fileExtension=".xnb" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".mgfxo" mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer>
</configuration>
